ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#131e3c;background-repeat:repeat;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#131e3c;background-image:none;border-width:1px; border-style:solid;border-color:#d8d9da;padding:0 7px 7px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left; }
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	padding:0px 0px 0px 0;font-size:0;z-index:1;position:relative;display:inline-block; display:inline;}
ul#css3menu1>li{
	margin:0 0 0 0px;}
* html ul#css3menu1 li a{
	display:inline-block; }
ul#css3menu1 ul>li{
	margin:0px 0 0; width:135px}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 13px Arial;color:#ffffff;cursor:default;padding:8px;background-color:#131e3c;background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;}
ul#css3menu1 ul li{
	float:none;}
ul#css3menu1 ul a{
	text-align:left;padding:7px 0 7px 0;background-color:#131e3c;background-image:none;border-width:0px 0 1px 0;border-style:solid;border-color:#D9D9D9;font:bold 12px Arial;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 a.pressed{
	border-style:none;color:#efefef;text-decoration:none;background-position:0 100px; }

ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	padding-right:27px;}
	
ul#css3menu1 li.topmenu>a{
	border-right:1px solid #fff;}
	
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-position:0 100px;color:#efefef;text-decoration:none; }
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	background-color:#131e3c;background-image:none;border-style:solid;border-color:#D9D9D9;color:#006eab;text-decoration:none;}
	
ul#css3menu1 li.subfirst>a{
	padding:7px 0 7px 0;border-width:0;border-style:none;}
ul#css3menu1 li.subfirst:hover>a,ul#css3menu1 li.subfirst>a.pressed{
	border-style:none;}
